STRIPE_SECRET_KEY=sk_test_51TEaGJPm7N3EoM68yIUeMo7UFnygTeyrfaKyOTFkuJoMbsXAYo6S3AlpWnfL7tk1DRQL4rZWQb8XQEvQbvXf2l3t00cQGmWz5r
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TEaGJPm7N3EoM68DUfPUCH3aBlTnSy6pDbXvWXr3mrCh1zrIkXUR2YcUnjffseq8AwHdlppHJrVMsMmW6pDppYJ00Cpe2p4pN
# Optional: verify incoming webhook signatures (recommended)
STRIPE_WEBHOOK_SECRET=whsec_3Asq5rfIfr6j1dBEAYYtSe8FANVAM7W0dev


# Copy other runtime keys you need for local development if desired
# NEXT_PUBLIC_SUPABASE_URL=...
# NEXT_PUBLIC_SUPABASE_ANON_KEY=...